html {	
	font-family: Arial;
	font-family: Lato;
    background-color: #303030;
	font-size: 16px;
	color: #fff;
}

a{color: yellow;}

hr{
   width: 200px;
   margin:10px 0 ;
}

p[mark=true] {
   color:red;
}

form , div#list {
   text-align: center;
   width: 200px
}

input {
   width: 95px;
   height: 20px;
   margin:auto;
   border: none;
   background-color: greenyellow;
}

input[value=UP]{}
input[value=DOWN]{}